.cover{  
    background-image: url('./../../assets/images/cover.png');
    width: calc(100% - 500px);
    height: 100vh;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
}

.cover-text{
    font-size: 65px;
    color: #fff;
    text-align: right;
    font-weight: 900;
    position: absolute;
    right: 150px;
    bottom: 50px;
    text-shadow: -1px 5px 9px #0000006b;
}
.cover-text1 span{
    font-size: 130px;
    font-weight: 900;

}
.cover-text2{
    font-size: 90px;
}
.per-month{
    font-size: 28px;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}