.registerLogin{

}

.registerLogin .container-fluid{
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.registerLogin .container{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.RL-right{
    width: 500px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: right;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}


.RL-title{
    text-align: center; 
    }
.RL-title h1{
    color:#2D9CDB;
    margin: 20px 0px;
}


.RL-inputs{
    direction: rtl;
    width: 100%;
}

.forget-pass-text{
    color: #ADADAD;
    cursor: pointer;
    transition: all .2s linear;

}
.forget-pass-text:hover{
    color: rgb(124, 124, 124);
    transition: all .2s linear;
}

.RL-button{
    width: 100%;
}
.RL-button .button-box{
    width: 100%;
}
.RL-button .button-style{
    width: 100%;
    font-weight: 900;

}



















.login-container {
    width: 700px; 
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 

   
}

 

.login-logo {
    width: 200px;
    margin: 20px;

}

.login-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 5px 55px 0 0;
    border-bottom: 1px solid #f8f8f8;

}


.login-header-item {
    font-size: 22px;
    font-weight: 700;
    width: 50%; 
    width: 50%; 
    color: #0078af;
    padding: 25px;
    background-color: #fcfcfc;  
    text-align: center;
    border-radius: 5px 5px 0 0;
    border-left: 1px solid #f8f8f8;
    cursor: pointer;
    transition: all .2s linear;
 
}

.login-header-item:hover {
    background-color: #f3f3f3;
    color: #333333 !important;
    border: 0;


}
.activeTab {
    background-color: #f1f1f1;
    color: #aeaeae!important;
    border: 0;


}

.login-form {
    width: 70%;
    margin: auto;
    text-align: right;
    direction: rtl;
    padding: 20px 0;
}


.register-form {
    width: 70%;
    margin: auto;
    text-align: right;
    direction: rtl;
    padding: 20px 0;
    
}





@media screen and (max-width : 600px) {


    .login-container {
        width:95%;

    }
    .cover {
        height: auto;
    }
}


















@media screen and (max-width: 400px){
.RL-right{
    padding: 20px;
}
    
}