

.dashboard{

}

.dashboard .container-fluid{
    margin: 0px auto;
    padding: 0;
    background-color: #F8F8F8;
    max-width: 1600px;
}

.dashboard .container{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.dashboard-right{
    background-color: #fff;
    position: relative;
    width: 250px;
} 
.dashboard-left{
    width: calc(100% - 250px);
    background-color: #fff;
    height:calc(100vh - 80px);
}

@media screen and (max-width: 1100px){
    .dashboard-left {
        width: calc(100% - 250px);
    }
    .dashboard-right {
        width: 250px;
    }

}
@media screen and (max-width: 900px){
.dashboard .container{
    justify-content: space-around;

}
.dashboard-left{
    width: 100%;
}
.dashboard-right{
    width: unset;
}

}